<div class="task_brief">
  <div class="task_desc">
    <div class="task_trigger">
      <image class="task_trigger_icon icon" src="<%= object.trigger.service.icon %>" />
      <div class="task_trigger_name name"><%= object.trigger.name %></div>
    </div>
    <div class="task_pointer">
      --&gt;
    </div>
    <div class="task_action">
      <image class="task_action_icon icon" src="<%= object.action.service.icon %>" />
      <div class="task_action_name name"><%= object.action.name %></div>
    </div>
  </div>
</div>
