<div class="task_last_error">
  <% if task.error_log and task.error_log.include? :message %>
    <span class="warning"><%= task.error_log[:message] %></span>
  <% else %>
    No error
  <% end %>
</div>
