// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.root-list {
  li {
    margin: 20px;
    position: relative;

    .task-name {
      margin-bottom: 10px;
    }

    .task-status {
      position: absolute;
      right: 100px;
      bottom: 0;
    }
  }

  li.item-odd { background-color: #EEE; }
}
