// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_brief {
  font-size: 18px;

  .task_desc {
    $height: 91px;
    height: $height;

    > div {
      float: left;
    }

    .icon {
      height: 64px;
    }

    .task_pointer {
      line-height: $height;
      margin: 0 10px 0 10px;
    }

    .name {
      text-align: center;
    }
  }
}

.class_last_error {
  .warning {
    color: red;
  }
}
